@tailwind base;
@tailwind components;
@tailwind utilities;
.hamburger-react{
  z-index: 1000;
  color: #fff;
  margin: 0 2rem;
}

@media screen and (min-width: 768px) {
  .hamburger-react{
    display: none;
  }
}